*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #b8b8b8;
	color: #1d1d1d;
	font-family: 'Poppins', sans-serif;
}

.page {
	height: max-content;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	font-weight: 700;
}
h3,
h4 {
	font-weight: 500;
}
h4 > span {
	text-transform: capitalize;
}
p {
	line-height: 22px;
}
img {
	width: 100%;
	height: 100%;
	display: block;
}
/* Homepage */
.homepage {
	gap: 20px;
	align-items: center;
	justify-content: center;
}
.homepage > h2 {
	margin-top: 30px;
	font-weight: 500;
}

.homepage__link {
	position: absolute;
	top: 12%;
	text-decoration: none;
	font-size: 20px;
	color: #1d1d1d;
	cursor: pointer;
}
/* Form */
.form {
	width: 80%;
	position: relative;
	display: flex;
	align-items: center;
}
.form__input {
	width: 100%;
	height: 32px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	outline: transparent;
}
.form__button {
	background-color: #e0e0e0;
	border: none;
	height: 32px;
	width: 40px;
	position: absolute;
	top: 50%;
	right: 0;
	translate: 0 -50%;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}
.form__svg {
	height: 20px;
	width: 20px;
}
.form__error-message,
.homepage h4 {
	text-align: center;
	font-weight: 400;
	font-size: 13px;
	color: #c20f1e;
}
.homepage h4 {
	font-weight: 400;
	color: #1d1d1d;
}
/* Pokemon */
.pokemon__name {
	text-transform: capitalize;
}
.pokemon__more-details {
	position: relative;
}
.pokemon__details {
	cursor: pointer;
}

.pokemon__header {
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.pokemon__header > h4 {
	font-weight: 700;
}
.pokemon__image--big {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.pokemon__image--big > img {
	margin: 50px 0 0;
	height: 100px;
	width: 100px;
	object-fit: cover;
}
.pokemon__addToTeam {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	font-size: 13px;
	margin-top: 10px;
}

.pokemon__types {
	display: flex;
	width: 50%;
	justify-content: center;
	gap: 30px;
	align-items: center;
	z-index: 10;
}

.pokemon__type {
	background-color: #666666;
	color: #fff;
	padding: 2px 5px;
	font-size: 13px;
	text-transform: capitalize;
	border-radius: 10px;
	margin-top: 10px;
}

.pokemon__about {
	position: absolute;
	top: 50%;
	left: 0;
	background: #fff;
	z-index: 1;
	border-radius: 20px 20px 0 0;
	padding-bottom: 30px;
	width: 100%;
}
.h4 {
	text-align: center;
	margin-top: 80px;
}

.pokemon__about h4 {
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.pokemon__about--container {
	display: flex;
	justify-content: space-around;
}

.pokemon__about--container p {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 13px;
}

.pokemon__about--content {
	font-weight: 700;
}
.pokemon__about--description {
	font-weight: 200;
}

.pokemon__ability {
	text-align: center;
	margin-top: 40px;
}

.pokemon__listItems {
	display: flex;
	justify-content: center;
	list-style: none;
	font-size: 13px;
	gap: 10px;
	text-transform: capitalize;
}

.pokemon__description {
	padding: 0 10%;
}

.pokemon__description h4 {
	margin-top: 50px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.7px;
}
.description {
	font-size: 13px;
}

.pokemon__moves {
	text-align: center;
	margin-top: 30px;
	padding: 0 10%;
}
.pokemon__moves--listItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	list-style: none;
	font-size: 13px;
	gap: 8px;
}

.pokemon__moves--listitem:not(:last-child) {
	margin: 0;
	text-transform: capitalize;
	display: block;
	padding: 0 8px 0 0;
	border-right: 2px solid #1d1d1d;
}

/* userPokemon */

.userPokemon {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	padding: 10% 10px;
}

.userPokemon__container {
	background-color: #666666;
	height: max-content;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-radius: 16px;
	width: 140px;
	position: relative;
	overflow: hidden;
}

.userPokemon img {
	height: 100px;
	aspect-ratio: 1/2;
	object-fit: cover;
}
.userPokemon h4 {
	color: #fff;
	align-self: flex-end;
	font-size: 90%;
}

.userPokemon a {
	text-transform: capitalize;
	font-size: 15px;
	margin-bottom: 25px;
	color: #fff;
	text-align: center;
}
.userPokemon p {
	margin: 0;
	text-align: center;
	background: #1d1d1d;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 8px;
	color: #fff;
	font-size: 13px;
	border-top: 1px solid #fff;
	cursor: pointer;
}
.unavailable {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 13px;
}
/* Media Queries */

@media (min-width: 425px) {
	.form {
		width: 300px;
		height: max-content;
	}
	.form__input {
		height: 40px;
	}
	.form__button {
		height: 40px;
		width: 40px;
	}
	.form__error-message {
		font-size: 15px;
	}
	.description {
		font-size: 15px;
	}
	.userPokemon {
		align-items: center;
		gap: 30px;
	}
	.userPokemon__container {
		height: max-content;
	}
}

@media (min-width: 1024px) {
	body {
		font-size: 150%;
	}
	.pokemon__image--big > img {
		height: 200px;
		width: 200px;
		object-fit: cover;
	}

	.pokemon__types {
		justify-content: center;
		gap: 50px;
	}
	.pokemon__type {
		font-size: 15px;
		padding: 4px 10px;
	}
	.pokemon__about {
		top: 60%;
	}
	.h4 {
		margin-top: 120px;
	}
	.pokemon__about--content,
	.pokemon__about--description {
		font-size: 15px;
	}
	.pokemon__listItems {
		gap: 40px;
		font-size: 15px;
	}
	.pokemon__moves--listItems {
		font-size: 15px;
	}
	.pokemon__moves {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
	}
	.description {
		font-size: 16px;
		line-height: 24px;
		width: 80%;
		margin: 0 auto;
	}
	.pokemon__addToTeam {
		font-size: 15px;
	}
	/* userPokemon */

	.userPokemon {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10% 10px;
		align-content: center;
	}

	.userPokemon__container {
		padding: 25px;
		gap: 15px;
		border-radius: 10px;
		width: 200px;
		height: max-content;
	}
	.userPokemon h4 {
		color: #fff;
		align-self: flex-end;
		font-size: 14px;
	}

	.userPokemon h5 {
		font-size: 17px;
	}
	.userPokemon p {
		font-size: 15px;
	}
	.unavailable {
		font-size: 16px;
	}
}
